<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 定义数据源Bean,使用C3P0数据源实现 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <!-- 指定连接数据库的驱动 -->
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <!-- 指定连接数据库的URL -->
        <property name="jdbcUrl" value="jdbc:mysql://localhost/test"/>
        <!-- 指定连接数据库的用户名 -->
        <property name="user" value="test_user"/>
        <!-- 指定连接数据库的密码 -->
        <property name="password" value="test_user"/>
        <!-- 指定连接数据库连接池的最大连接数-->
        <property name="maxPoolSize" value="40"/>
        <!-- 指定连接数据库连接池的最小连接数 -->
        <property name="minPoolSize" value="1"/>
        <!-- 指定连接数据库连接池的初始化连接数 -->
        <property name="initialPoolSize" value="1"/>
        <!-- 指定数据库连接池的连接最大空闲时间 -->
        <property name="maxIdleTime" value="20"/>
    </bean>

    <bean id="userDao" class="com.manager.dao.impl.UserDaoImpl"/>
    <bean id="login" class="com.manager.action.LoginAction">
        <property name="UserDaoImpl" ref="userDao"/>
    </bean>
</beans>